<div class="header">
  <div class="hd">
  </div>
  <h1 class="title">
    Trail Trekking
  </h1>
</div>
<img class="banner" src="../../../../assets/trekk.jpeg" alt="trek trekking">
<div class="main">
  <div class="row grBody2">
    <div class="grad">
      <h2 class="heading2">
        DETAILS
      </h2>
    </div>
  </div>
  <!-- <span class="head"><h2>DETAILS</h2></span> -->
  <div class="row">
    <div class="left">
      <ul>
        <!-- <b></b> -->
        <li><b>Destination :</b> Siddar Betta, Tumkur</li>
        <li><b>Date :</b> July 24th,2022 Sunday</li>
        <li><b>Time :</b> 7 am - 7 pm</li>
        <li><b>Pickup :</b> Marathalli Bridge & Rajajinagar Entrance</li>
        <!-- <li><b>Price :</b> ₹2500 per head</li> -->
        <li>Transportation and food</li>
      </ul>
      <span class="extra">* 18% GST extra</span>
    </div>
    <div class="right">
      <span class="head"><h5>ITINERARY</h5></span>
      <ul>
        <li><b>7:00 AM - </b>Starting point Marathalli</li>
        <li><b>9:30 AM - </b>Breakfast @Pavitra Idli Hotel - Kyathsandra</li>
        <li>Ground team of 4 joins us with first-aid kit and supplements with water supply with a quick brief on trek</li>
        <li><b>10:30 AM - </b>Trek starts</li>
        <li><b>2:00 PM - </b>Lunch break</li>
        <li><b>3:00 PM - </b>Trek down</li>
        <li><b>5:30 PM - </b>Return to Bangalore</li>
      </ul>
    </div>
  </div>
  <div class="row grBody">
    <div class="grad">
      <h3 class="heading3">
        TICKET
      </h3>
    </div>
  </div>
  <div class="ticket row">
    <b>Price per head</b>
    <br>
    <span class="head2">₹2950</span>
    Net ₹2500 + GST ₹450
  </div>
  <img class="qr" src="../../../../assets/teevrqr.jpeg" alt="payment qr">
  <p class="mess">After payment please send the screenshot along with name, number and email on mobile no. <a href="tel:+918904409694">+91 8904409694</a> for the invoice.</p>
  <p class="mess">For any queries, contact on <a href="tel:+918904409694">+91 8904409694</a> / <a href="tel:+918904409695">+91 8904409695</a>.</p>
</div>
