@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.foot{
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: black;
  color: white;
}

.copy{
  margin-top:20px;
  display: flex;
}

.face{
  color: rgb(206, 90, 23);
  font-size:25px;
}

.social{
  color: white;
}

.event{
  color: rgb(206, 90, 23);
  text-decoration: none;
}

.contact{
  color: rgb(206, 90, 23);
  margin-right: 8px;
  font-size: 20px;
}

.contactLink{
  color: white;
  text-decoration: none;
}

.cont{
  margin-top:10px;
}

.text-muted{
  color: #FA7A4C !important;
  font-family: 'Montserrat', sans-serif !important;
}

.links{
  width: 25%;
}

.about{
  width: 54%;
  offset: 1;
}

.social{
  display: flex;
}

@media only screen and (max-width: 600px) {
  .links{
    width:100%;
  }

  .about{
    width:100%;
  }

  .foot{
    padding: 20px;
  }

  .nav{
    display:flex;
    justify-content: center;
  }

  .copy{
    display:block;
  }

  .copyright{
    width:100%;
    display: block;
  }

  .social{
    width: 100%;
    justify-content: center;
  }
}
