<mat-tab-group mat-align-tabs="center" animationDuration="2000ms" class="tabs" [color]="'warn'">
  <mat-tab label="Birthday Event" class="tab">
    <div class="header">
      <h1 class="title">
        Birthday Event
      </h1>
    </div>
    <!-- <img src=".././../../assets/birthday.jpg" alt="Birthday Event" class="img img-responsive headerImg"> -->
    <div class="main">
      <div class="container">
        <div class="row grBody">
          <div class="grad">
            <h2 class="heading2">
              SERVICES OFFERED
            </h2>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/1 (10).jpeg" width="450" alt="">
          </div>
          <div class="cl6" style="text-align:left">
            <p class="lead">We are always improving our services.</p>
            <p class="lead">We hear you.</p>
            <ul class="list">
              <li>Back Drops</li>
              <li>Artist of games</li>
              <li>Balloons Decorations</li>
              <li>Cradle Decorations</li>
              <li>21s Day celebration</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main2">
      <div class="container">
        <div class="row grBody">
          <div class="grad2">
            <h2 class="heading">
              BIRTHDAY CELEBRATION
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="cl6">
            <p class="lead">Planning own or a loved one’s birthday party can be a daunting task in many ways, especially if you’re caught-up in the vicious cycle of everyday busy lifestyle.</p>
            <p class="lead">This is where, FOOTYSPOP EVENTS immense expertise and skills in birthday parties, will fit-in with your requirements, knowing exactly what you want.</p>
            <p class="lead">At FOOTYSPOP Events, we aim to alleviate the time that you would normally spend, organising, planning and shopping for the event, by putting together the intricacies of a dream birthday party celebration together and create the best possible version of your vision.</p>
          </div>
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/12.jpg" width="450" alt="">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/1 (8).jpeg" width="450" alt="">
          </div>
          <div class="cl6">
            <p class="lead">Our team will work with you to come-up with the perfect plan, from the ideal birthday theme, to venue, catering, live entertainment, decor and lighting, photography and videography, and above all, the atmosphere that is needed for the birthday party.</p>
            <p class="lead">Once the plan is put is okayed and put in place, our team will work-up to meticulously ensure its implementation and eventually tailor a bespoke birthday party to your exact visualisation, down to the last detail.</p>
            <p class="lead">So make sure, that FOOTYSPOP Events takes over the rein of your birthday party celebration while you sit back, relax and watch us put everything in place and then enjoy the celebration, with memories to be cherished for a lifetime.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <div class="row grBody">
          <div class="grad">
            <h2 class="heading2">
              CARTOON CHARACTERS
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="cl6">
            <p class="lead">Cartoon Characters are our special services provided to our clients. Now days to attract more customers’ business people are implementing different levels of strategies in that one of the strategies is to maintain cartoon characters which helps them to attract the visitors and increase their profits so, if you want to implement this feature to your business call us and start now.</p>
          </div>
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/cartoon.jpg" width="450" alt="">
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Wedding Event" class="tab">
    <div class="header2">
      <h1 class="title">
        Wedding Event
      </h1>
    </div>
    <div class="main">
      <div class="container">
        <div class="row grBody">
          <div class="grad">
            <h2 class="heading2">
              SERVICES OFFERED
            </h2>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/1 (16).jpeg" width="450" alt="">
          </div>
          <div class="cl6" style="text-align:left">
            <p class="lead">We are always improving our services.</p>
            <p class="lead">We hear you.</p>
            <ul class="list">
              <li>Personalised Wedding Packages</li>
              <li>Budget Management for your Wedding</li>
              <li>Vendor Management</li>
              <li>Wedding Invites</li>
              <li>Wedding Venues & Locations</li>
              <li>Wedding Menu Planning</li>
              <li>Design & Décor</li>
              <li>Wedding Photography</li>
              <li>Wedding Videography / Cinematography</li>
              <li>Traditional Indian Wedding Ceremonies</li>
              <li>Bridal Styling: Makeup & Hair</li>
              <li>Bridal Styling & Personal Shopping</li>
              <li>Entertainment</li>
              <li>Favors & Gifts</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main2">
      <div class="container">
        <div class="row grBody">
          <div class="grad2">
            <h2 class="heading">
              WEDDING EVENTS
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="cl6">
            <p class="lead">Right! So why not create a sublime and unforgettable wedding celebration with memories for a lifetime.</p>
            <p class="lead">This is where; FOOTSYPOP Events can help you translate that vision into reality, with its unmatched expertise and skills in wedding events.</p>
            <p class="lead">A specialist in expertly planning a wedding celebration, bathed in romance, FOOTSYPOP Events knows exactly what needs to be done to deliver a captivating wedding experience. From putting together the right wedding theme to creative design, catering, decoration, entertainment, and more, our team will work to seamlessly bring your dream wedding vision to life.</p>
          </div>
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/14.jpg" width="450" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <div class="row grBody">
          <div class="grad">
            <h2 class="heading2">
              OUR SPECIALITY
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/1 (2).jpeg" width="450" alt="">
          </div>
          <div class="cl6">
            <ul class="list">
              <li>Providing a choice of arrangement theme’s for the right play of colour, fragrance and ambience.</li>
              <li>Taking care of all of the finer details from flowers to chandeliers, elegant furniture pick and placement, and the overall sparkle to bring the event to life</li>
              <li>Infusing new trends in decoration to bring together the right fusion of flowers, light system and, colour scheme</li>
              <li>Tailoring the overall look to suit your colour scheme or layout of the occasion.</li>
            </ul>
            <p class="lead">In addition, we offer you the benefit of the best of Indian or Western wedding arrangements that will bring the inside and outside spaces alive and stitch together the best of interior and exterior looks, in a way that will leave behind an indelible impression on your guests.</p>
            <p class="lead">It’s this creative flair and an eye for detail that has seen us organise the finest of wedding decorations for several renowned celebrities and other prominent families in and around Bangalore.</p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Corporate Event" class="tab">
    <div class="header3">
      <h1 class="title">
        Corporate Event
      </h1>
    </div>
    <div class="main">
      <div class="container">
        <div class="row grBody">
          <div class="grad">
            <h2 class="heading2">
              CORPORATE EVENTS
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/cor1.jpg" width="450" alt="">
          </div>
          <div class="cl6">
            <p class="lead">There is more at stake when you host a corporate event purely for the reason that there will be greater need on your part to impress your guests.</p>
            <p class="lead">But conducting and managing a corporate event requires a lot of meticulous preparation, detailed planning and sharp focus. This is where an expert hand can work the right steps and ensure a flawless event sans hassles.</p>
            <p class="lead">Whatever be the nature of corporate event you’re planning to have, a company meet or a conference or an awards ceremony, FOOTYSPOP Events is well-placed to cater to make it truly unforgettable</p>
          </div>
        </div>
        <div class="row">
          <div class="cl6">
            <p class="lead">FOOTSYPOP Events understands the nuts and bolts of planning, managing and running a smooth and seamless corporate event. With its strong expertise and all-round knowhow covering all aspects of any kind of corporate events, it will make sure to set apart your corporate event from others of its kind</p>
            <p class="lead">From logistical expertise to personal insights and more, FOOTYSPOP Events event planners will offer fresh ideas and bespoke customisation solutions with personalised service, so that the whole event goes off smoothly as expected, original, impressive and above all, achieving the expected outcomes. All the arrangements that’s needed for a successful corporate event from registration and venue selection to invitation, menu plans, delegate gifts, feedback and more, will be taken care of, in a way that will be talked about for years to come.</p>
          </div>
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/cor2.jpeg" width="450" alt="">
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Societal Event" class="tab">
    <div class="header4">
      <h1 class="title">
        Societal Event
      </h1>
    </div>
    <div class="main">
      <div class="container">
        <div class="row grBody">
          <div class="grad">
            <h2 class="heading2">
              SOCIETAL EVENTS
            </h2>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/soc.jpg" width="450" alt="">
          </div>
          <div class="cl6" style="text-align:left">
            <!-- <p class="lead">We are always improving our services.</p>
            <p class="lead">We hear you.</p> -->
            <ul class="list">
              <li>Anniversaries</li>
              <li>Graduations</li>
              <li>Farewell / Engagement Parties</li>
              <li>Bridal and Baby Showers</li>
              <li>Special Occasions and more</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main2">
      <div class="container">
        <div class="row grBody">
          <div class="grad2">
            <h2 class="heading">
              SERVICES OFFERED
            </h2>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="cl6" style="text-align:left">
            <p class="lead">We are always improving our services.</p>
            <p class="lead">We hear you.</p>
            <ul class="list2">
              <li>Event consultation and management</li>
              <li>Event design and production</li>
              <li>Event strategy</li>
              <li>Venue selection and planning</li>
              <li>Theme development and implementation</li>
              <li>Catering</li>
              <li>Decorations</li>
            </ul>
          </div>
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/eng.jpg" width="450" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <div class="row grBody">
          <div class="grad">
            <h2 class="heading2">
              SOCIETAL EVENTS
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/1 (14).jpeg" width="450" alt="">
          </div>
          <div class="cl6">
            <p class="lead">Societal are all about creating the most memorable moments. To make it memorable, every single detail should be put in place from the invitation to event planning and implementation, welcoming, performance, menu, and more, for the sole reason that every single detail matters for eventual success.</p>
            <p class="lead">Whether you’re planning a surprise social celebration event to celebrate a milestone in your life or someone’s else OR looking to have a grand anniversary bash to celebrate the milestone OR a engagement / farewell party, JUST leave the planning, details and stress to FOOTSYPOP Events.</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="cl6">
            <p class="lead">Be assured that FOOTSYPOP Events will handle all of your social event’s needs down to the last detail, so that you can revel in simply being the host of the event.</p>
            <p class="lead">From concept creation to theme presentation and event delivery, FOOTSYPOP Events will ensure that every detail is attended to with meticulous care, precision and focus. Whether you want the social event to have a wow factor OR a simple look presented with sophistication, FOOTSYPOP Events will have the right ingredients in place.</p>
          </div>
          <div class="cl6">
            <img class="img img-responsive video" src="../../../assets/1 (15).jpeg" width="450" alt="">
          </div>
          <p class="lead" style="margin-top:20px;">Event planners will be there to assist you and help you with making the right moves, coordinate the right steps from start to finish, and above all, ensure a flawless show that will be remembered for long. All you got to do, is to outsource your requirement to us with your ideas and inputs and then sit back and relax without having to worry about the success of your dream social event.</p>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
