@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.bg-dark{
  background-color:black !important;
  height: 21vh;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  /* background-color: rgb(206, 90, 23); */
  /* background-color: #f7b42c; */
  background: -webkit-repeating-linear-gradient(315deg, #f7b42c, #FA7A4C, #fc575e);
  padding-top: 6px;
  padding-bottom: 6px;
}

.nav-link:hover{
  border: 2px solid;
  border-color: #FA7A4C;
  border-radius: .25rem;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border-image-slice: 1;
  border-image-source: linear-gradient(to left,#f7b42c, #fc575e); */
  /* border-image-radius: 20%; */
  /* border-image: linear-gradient(
    to bottom,
    #f7b42c,
    #fc575e
  ) 1 74%; */
}

.nav-link{
  color: #FA7A4C;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: bold; */
}

.nav-item{
  margin-right: 5px;
}

header{
  text-align: center;
}

.logo{
  margin: auto;
}

.pills{
  margin:auto;
}

#routes{
  height:9vh;
  position:sticky;
  top: 0px;
  z-index: 900;
  border-bottom: 1px solid #FA7A4C;
}

.face{
  color: rgb(206, 90, 23);
  font-size:20px;
}

.cont{
  position: fixed;
  z-index: 999;
}

.loIm{
  height: 120px;
}

@media only screen and (max-width: 600px) {

  .loIm{
    height: 70px;
  }

  /* .logo{
    margin-top:40px;
  } */

  .cont{
    /* padding: 0 auto; */
    padding-left: 20px;
    position: static;
    margin-bottom:0px;
    padding-bottom: 0px;
  }

  .pills{
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  #routes{
    height: 14vh;
  }
}
