.head{
  width: 100%;
  height: 30vh;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form{
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color:#ffd37b; */
}

.contact{
  font-size:xxx-large;
}

.footsypop{
  font-size:xxx-large;
  color: #fc575e;
}

.Contact-us{
  /* text-decoration: underline; */
  color: rgb(206, 90, 23);
}

.btnClass{
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  margin: auto;
}

.fields{
  padding-left: 5%;
}
