@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Varela+Round&display=swap");


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.about{
  min-height: 90vh;
  /* background-color: black; */
  background-image: url('../../../assets/abt bgr.jpg');
  background-size: cover;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  color: white;
}

/* .logo{
  border-bottom: black solid;
  box-shadow: black 3px 0px 2px;
} */

.logo:hover{
  transform:translate(-2px, -2px);
  transform:scale(1.1);
}

.blackO{
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(5px) opacity(0.6);
  backdrop-filter: blur(5px) opacity(0.6);
  /* background-color: black;
  opacity: 0.4; */
  /* z-index: 999; */
}

/* .head{
  color: #FA7A4C;
  font-style: italic;
  font-family: 'Courgette', cursive;
  text-shadow: black 2px 2px 1px;
  font-size: 60px;
} */

.para{
  font-size: 25px;
  text-shadow: black 2px 2px 1px;
}

/* .lead{
  color: rgb(206, 90, 23);
} */

.btn1{
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  color: white;
}

.btn1:hover{
  background-image: linear-gradient(315deg, #FA7A4C 0%, #fc575e 74%);
  transform:translateY(1.1);
}

.btn2{
  border: 2px solid;
  border-color: #FA7A4C;
  border-radius: .25rem;
  color:#FA7A4C;
}

.btn2:hover{
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  color: white;
}

.main{
  /* height:120vh; */
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main2{
  /* height:80vh; */
  width: 100%;
  position: relative;
  /* background: radial-gradient(circle, rgba(250,122,76,1), rgb(221, 154, 99), rgba(255,255,255,1) 84% ); */
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(315deg, rgb(247, 180, 44,0.9), rgb(252, 87, 94,0.9));
  background-size: 200% 200%;
  animation: Gradient 7s ease infinite;
  overflow: hidden;
}

.video{
  box-shadow: 8px 8px 25px 0 rgb(255, 255, 255,.5);
  width: 100%;
}

.heading{
  /* color: white; */
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
  font-weight:bolder;
  text-shadow: black 0px 2px 0px;
  /* text-shadow: 4px 4px 2px #FA7A4C; */
}

.heading2{
  /* font-family: 'Mr Dafoe'; */
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
  font-weight:bolder;
  /* color: #fc575e; */
  /* font-style: italic; */
  /* font-family: 'Roboto', sans-serif; */
  /* text-shadow: white 1px 1px 1px; */
  /* text-shadow: 4px 4px 2px #FA7A4C; */
}

h1 {
  font-family: 'Great Vibes', cursive;
  margin: 0;
  font-size: 6em;
  color: white;
  text-shadow: 0 0 0.1em #FA7A4C, 0 0 0.15em #FA7A4C;
}

.grad{
  width: fit-content;
  margin: 0 auto;
  background: linear-gradient(315deg, #f7b42c, #fc575e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom:10px;
}

.grad2{
  width: fit-content;
  margin: 0 auto;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom:10px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
