<div class="px-4 py-5 about text-center">
  <div class="blackO">
    <h1 class="display-5 fw-bold head">About</h1>
    <img class="d-block mx-auto mb-4 logo" type="button" src="../../../assets/logo.png" alt="Footsypop Events" width="300" routerLink="/home">
    <div class="col-lg-6 mx-auto">
      <p class="lead para mb-4">Footsypop events is an extravagant event management company that works with sheer commitment, creativity and calibre under the guidance of Creative Director. We are an organization of creative artists focused on planning each occasion with imagination, enthusiasm and demonstrable skill.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn1 btn-lg px-4 gap-3" routerLink="/contact">Contact Us</button>
        <button type="button" class="btn btn-outline btn2 btn-lg px-4" routerLink="/service">Services</button>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row grBody">
      <div class="grad">
        <h2 class="heading2">
          ABOUT US
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <p class="lead">We are an organization of creative artists focused on planning each occasion with imagination, enthusiasm and demonstrable skill. We don't endeavour to live up to your desires, we intend to surpass them. We ensure that we leave no stone unturned for a fabulous occasion to be celebrated for years. This occasion should not merely be restricted to be a organization but should become an everlasting memory in the mind of the client and his family members.</p>
        <p class="lead">Prevailing with regards to situating ourselves as a 'Top notch Event Management' Organization, we take pride in giving end-to-end benefits in the event industry which surpasses your desires!</p>
      </div>
      <div class="col-5">
        <video class="video" controls>
          <source src="../../../assets/videoplayback.mp4" type="video/mp4">
          <!-- <source src="movie.ogg" type="video/ogg"> -->
        Your browser does not support the video tag.
        </video>
        <!-- <mat-card>
          <div class="container">
          </div>
        </mat-card> -->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-7">
        <p class="lead">From the underlying discussion to making portrayals and event shows, directly through to the day of the occasion itself, we are here to enable you to acknowledge everything that you longed for your exceptional event.</p>
        <p class="lead">Every last one of our occasions is a clear impression of each and every one of our customers, so we welcome you to come in for a free counsel to talk about your occasion and take a gander at some of our present work.</p>
        <p class="lead">We are there to make your every occasion come true, whether it may be a stage set, a extravagant wedding, a unique farewell party, professional conference, close knit family get together, decors for stages, catering solutions, creative photography, amazing dinner parties, luxury decors, anniversary parties or a lovely birthday bash…. We jump at the chance to invest energy with their customers to comprehend and picture what precisely it is they need. We customize the occasion agreeable to you and focus on detail with a wide assortment of striking thoughts, topics and ideas. At last we make events happen truly…….</p>
      </div>
      <div class="col-5">
        <img class="img img-responsive video" src="../../../assets/1 (6).jpeg" alt="">
        <!-- <mat-card>
          <div class="container">
          </div>
        </mat-card> -->
      </div>
    </div>
  </div>
</div>
<div class="main2">
  <div class="container">
    <div class="row grBody">
      <div class="grad2">
        <h2 class="heading">
          STAGE SETS
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img class="img img-responsive video" src="../../../assets/14.jpg" width="450" alt="">
        <!-- <mat-card>
          <div class="container">
          </div>
        </mat-card> -->
      </div>
      <div class="col-6">
        <p class="lead">Regardless of whether it be one of our regal stage sets or one of our bespoke flower establishments, each Bride and Groom should be lifted onto organize level and confined in a lovely scenery that will be caught in their photographs and recalled dependably.</p>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row grBody">
      <div class="grad">
        <h2 class="heading2">
          THEMED EVENTS
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="lead">Choosing a theme for your occasion can truly breathe life into your gathering. As we're continually hoping to get new props to better improve your picked subject, we're ready to give every one of the components your themed occasion needs – from table cloths to sceneries and props – guaranteeing your visitors are completely submerged in the setting that we've made. We will go wherever your creative ability takes us!</p>
      </div>
      <div class="col-6">
        <img class="img img-responsive video" src="../../../assets/th.jpg" width="450" alt="">
      </div>
    </div>
  </div>
</div>
<div class="main2">
  <div class="container">
    <div class="row grBody">
      <div class="grad2">
        <h2 class="heading">
          FLOWERS & CENTREPIECES
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img class="img img-responsive video" src="../../../assets/bouquet.jpg" width="450" alt="">
        <!-- <mat-card>
          <div class="container">
          </div>
        </mat-card> -->
      </div>
      <div class="col-6">
        <p class="lead">Our profoundly experienced flower group conveys the genuine energy of craftsmen to each decorative layout. We make significantly wonderful flower shows that can change any occasion space – whether that be a solitary, very individual decorative layout for a private gathering, an advanced idea for a lavish wedding, or an intense botanical establishment for a corporate occasion – your fantasies are protected in our grasp.</p>
        <p class="lead">Drawing motivation from current patterns in mould, inside outline and engineering, and the lines, structures and common rhythms of the blossoms themselves, a Footsypop events occasions establishment is crisp, adjusted, and extravagant; including only the correct note of contemporary to any space.</p>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row grBody">
      <div class="grad">
        <h2 class="heading2">
          EVENT PLANNING
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="lead">Event planning takes everything into consideration the person’s calibre, creatives and understanding of the client requirements. Event planning itself says understanding the requirement and providing professional ouput through an extravagant event celebration.</p>
        <p class="lead">A decade of excellence in the art of Conceptualization, Planning, Budgeting & Execution of the highest order respected in the industry - has been our strength across all our events.</p>
        <p class="lead">At Footsypop Events we help plan amazing events for people who love hosting, but don’t have the time or expertise to hash out the details. As said by Lord Chesterfield ''Whatever is worth doing at all is worth doing well.'' we provide you a well executed event in a competitive rate.</p>
      </div>
      <div class="col-6">
        <img class="img img-responsive video" src="../../../assets/eventplan.jpg" width="450" alt="">
      </div>
    </div>
  </div>
</div>
